server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;

  root /var/www/html;

  location / { 
    try_files $uri $uri/ @proxy; 
  }

  location @proxy { 
    proxy_pass http://${PROXY_PASS_TO}:8080; 
  }
}
