{{ $cfg := .cfg }}
daemon on;

events {
  worker_connections 1024;
}
http {
  {{range $name, $upstream := .upstreams}}
  upstream {{$upstream.Name}} {
      {{ if $cfg.enableStickySessions -}}
      sticky hash=sha1 httponly;
      {{ else -}}
      least_conn;
      {{- end }}
      {{ range $server := $upstream.Backends }}server {{ $server.Address }}:{{ $server.Port }} max_fails={{ $server.MaxFails }} fail_timeout={{ $server.FailTimeout }};
      {{ end }}
  }
  {{ end }}
  # http://nginx.org/en/docs/http/ngx_http_core_module.html
  types_hash_max_size 2048;
  server_names_hash_max_size 512;
  server_names_hash_bucket_size 64;
{{ range $server := .servers }}
  server {
    listen 80;
    server_name {{ $server.Name }};
{{- range $location := $server.Locations }}
{{ $path := buildLocation $location }}
    location {{ $path }} {
      proxy_set_header Host $host;
      {{ buildProxyPass $location }}
    }{{end}}
  }{{end}}

  # default server, including healthcheck
  server {
      listen 8080 default_server reuseport;

      location /healthz {
          access_log off;
          return 200;
      }

      location /nginx_status {
          {{ if $cfg.enableVtsStatus -}}
          vhost_traffic_status_display;
          vhost_traffic_status_display_format html;
          {{ else }}
          access_log off;
          stub_status on;
          {{- end }}
      }

      location / {
          proxy_pass             http://upstream-default-backend;
      }
  }
}
